body{
    font-family: Arial;
    min-height: 600px;
    background-image: url("aquecimento-global.png");
    background-color: black;
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: 300px;
    color: white;
    text-align: center;
}

.page-title{
    margin: auto;
    width: 450px;
    background: linear-gradient(to right, rgb(107, 0, 214), rgb(243, 104, 248), rgb(228, 49, 147));
    border-radius: 6px;
}

.conteiner{
    text-align: center;
    height: 100vh;
    padding: 25px;

}

.page-subtitle{
    margin-top: 70px;
    font-size: 22px;
    
}

.logotype {
    position: absolute;
    width: 50px;
    top: 10px;
    right: 10px;
}

input{
    margin: 15px;
    width: 90px;
    border-style:double;
    border-color: rgb(123, 62, 161);
    font-size: 20px;
    border-radius: 8px;
    text-align: center;
}

button{
    font-size: 15px;
    border-style: double;
    
}

label{
    color:  rgb(235, 0, 156);
    font-size: 19px;
}

h2{
    font-size: 19px;
    font-family: arial;
    color: rgba(154, 147, 255, 0.877);
}
